<div class="details">

  <h3>Detalii coleg</h3>

  <div class="photo-section">
    <img *ngIf="member.photoUrl; else noPhoto"
         [src]="member.photoUrl"
         alt="Foto coleg">

    <ng-template #noPhoto>
      <div class="placeholder-photo">Fără poză</div>
    </ng-template>
  </div>

  <h2 class="member-name">{{ member.nume }}</h2>

    <h3 id="discussion-section">Discuții 1:1</h3>

  <app-discussion-add 
    (add)="onAddDiscussion($event)">
  </app-discussion-add>

  <app-discussion-list 
    [discussions]="member.discussions"
    (delete)="onDeleteDiscussion($event)">
  </app-discussion-list>
</div>
