<mat-card class="details-card">

  <div class="header">
    <!-- AVATAR -->
    <div class="avatar">

      <!-- POZĂ -->
      <img *ngIf="member.photoUrl"
           [src]="member.photoUrl"
           alt="poza coleg" />

      <!-- INIȚIALE -->
      <span *ngIf="!member.photoUrl && initials">
        {{ initials }}
      </span>
    </div>

    <!-- INFO -->
    <div class="info">
      <h2>{{ member.nume }}</h2>
      <span class="subtitle">Detalii coleg</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 id="discussion-section" class="section-title">Discuții 1:1</h2>

  <mat-card class="discussion-card">

    <h3 class="small-title">Adaugă o discuție</h3>

    <mat-form-field appearance="outline" class="full">
      <textarea
        matInput
        rows="3"
        placeholder="Scrie ce ai discutat..."
        [(ngModel)]="text">
      </textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="full-button"
      (click)="submit()">
      Salvează discuția
    </button>

  </mat-card>

  <app-discussion-list
    [discussions]="member.discussions"
    (delete)="onDeleteDiscussion($event)">
  </app-discussion-list>

</mat-card>
