<div class="dialog-header">
  <h4 mat-dialog-title>Căutare în discuții</h4>
</div>

<mat-dialog-content>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Caută text</mat-label>
    <input matInput [(ngModel)]="query" />
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    class="full"
    (click)="search()">
    Caută
  </button>

  @if (results.length === 0 && searched) {
    <div class="empty">
      Nu au fost găsite rezultate.
    </div>
  }

  @if (results.length > 0) {
    <mat-list>
      @for (r of results; track r) {
        <mat-list-item>
        <div class="result-item" (click)="select(r)">
          <mat-icon>chat</mat-icon>
          <div>
            <strong>{{ r.member.nume }}</strong>
            <div>{{ r.discussion.text }}</div>
          </div>
        </div>
        </mat-list-item>
      }
    </mat-list>
  }

</mat-dialog-content>
