<div class="dialog-header">
  <h4 mat-dialog-title>Căutare în discuții</h4>
</div>

<mat-dialog-content>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Caută text</mat-label>
    <input matInput [(ngModel)]="query" (ngModelChange)="onQueryChange($event)" placeholder="Introdu minim 2 caractere"/>
  </mat-form-field>

  @if (results.length === 0 && searched) {
    <div class="empty">
      Nu au fost găsite rezultate.
    </div>
  }

@if (results.length > 0) {
  <div class="results-list">
    @for (r of results; track r) {
      <div class="result-item" (click)="select(r)">
        <mat-icon class="result-icon">chat</mat-icon>

        <div class="result-content">
          <strong class="name">{{ r.member.nume }}</strong>
          <div
            class="result-text"
            [innerHTML]="r.discussion.text">
          </div>
        </div>
      </div>
    }
  </div>
}

</mat-dialog-content>
