.ntt-header {
  height: 64px;
  background-color: #070F26; 
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.ntt-header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ntt-logo {
  height: 30px;         
  width: auto;
}

.ntt-divider {
  width: 1px;
  height: 18px;
  opacity: o.2;
  background-color: rgba(255, 255, 255, 0.3);
}

.ntt-title {
  color: #FFFFFF;       
  font-size: 16px;
  font-weight: 500;
}
