<mat-card class="discussion-add-card">
    
    <h3 class="section-title">Adaugă o discuție</h3>

    <mat-form-field appearance="outline" class="full">
    <mat-label>Scrie ce ai discutat…</mat-label>
    <textarea
      matInput
      rows="4"
      [(ngModel)]="text"
      name="discussionText">
    </textarea>
    </mat-form-field>

      <button 
        mat-raised-button
        color="primary"
        class="save-btn"
        (click)="submit()"
        [disabled]="!text || text.trim().length < 2">
        Salvează discuția
      </button>
</mat-card>
