.discussion-add-card {
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.full {
  width: 100%;
}

.save-btn {
  margin-top: 12px;
  width: 100%;
}

angular-editor {
  display: block;
  margin-bottom: 16px;
}

.angular-editor-toolbar {
  background-color: #f4f6f8 !important;
  border: 1px solid #dcdcdc;
}

.angular-editor-toolbar button {
  background-color: transparent !important;
  border: none;
}

.angular-editor-toolbar button i {
  background-image: url('/assets/icons.svg') !important;
  filter: brightness(0) saturate(100%) !important; 
}

.angular-editor-toolbar button:hover {
  background-color: #e0e0e0 !important;
}

.angular-editor-textarea {
  color: #000 !important;
  background-color: #fff !important;
}

.angular-editor-toolbar button svg {
  fill: #333 !important;
}
