.discussion-add-card {
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.full {
  width: 100%;
}

.save-btn {
  margin-top: 10px;
  width: 100%;
}
