@if (discussions && discussions.length > 0) {
  <mat-card class="discussion-list-card">
    <h4 class="section-title">Discuții anterioare</h4>

    @for (d of discussions; track d) {
      <div class="discussion-item" [attr.id]="'discussion-' + d.id">

        <div class="discussion-header">
          <span class="date">
            {{ d.date | date:'dd.MM.yyyy HH:mm' }}
          </span>
          <button mat-icon-button class="delete-button" (click)="delete.emit(d.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

         <div class="text" [innerHTML]="d.text"></div>
      </div> 
    }
  </mat-card>
}

@if (!discussions || discussions.length === 0) {
  <div class="no-discussions">
    Nu există discuții pentru acest coleg.
  </div>
}
