.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 20px 0;
}

.team-header h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.table-container {
  background: #ffffff;
  border-radius: 12px;
  padding: 10px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-bottom: 40px;
}

.search-box {
  width: 300px;
  margin-bottom: 20px;
  display: block;
}

.action-btn {
  pointer-events: auto;
  z-index: 10;
}


.clickable {
  cursor: pointer;
}

.mat-mdc-cell, .mat-mdc-header-cell {
  padding: 16px !important;
  font-size: 16px;
}

.mat-mdc-header-row {
  background: #faf9fc !important;
  font-weight: 600;
}

.mat-mdc-row:hover {
  background: #f5f5f5;
  transition: 0.2s;
}

.details-wrapper {
  margin-top: -10px;
  margin-bottom: 40px;
}

mat-card {
  border-radius: 16px !important;
  padding: 25px !important;
}

.mat-mdc-button-base {
  margin-left: 6px;
}

app-member-form {
  display: block;
  margin-top: 20px;
}

.mb-section {
  margin-bottom: 40px;
}

.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.add-btn {
  border-radius: 30px !important;
  padding: 10px 22px !important;
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}
