.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 14px;
  border-radius: 6px;
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button.cancel {
  background-color: #777;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.error {
  color: #d32f2f;
  font-size: 12px;
  margin-top: 4px;
  padding-left: 2px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #d32f2f !important;
    background-color: #fff5f5;
}

